.main {
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url("../../public/winter-walk-1339856.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_content h1 {
  margin: 0;
  text-shadow: -1px 0 rgb(117 117 117), 0 1px black, 1px 0 black, 0 -1px black;
}
.main_content h2 {
  margin: 0;
  text-shadow: -1px 0 rgb(117 117 117), 0 1px black, 1px 0 black, 0 -1px black;
}
