.main {
  display: flex;
  flex-flow: column 0;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50vh;
  margin-top: 50px;
}

.link {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .main {
    min-width: 80%;
  }

  .link {
    font-size: 1.6rem;
  }
}
