.post {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 0 0 0;
}

.post_div {
  display: flex;
  justify-content: space-between;
}

.post_div_button {
  margin: 0 0 0;
  align-self: flex-end;
  background-color: #fb5096;
  border-radius: 0.375rem;
  border-color: #fb5096;
  color: white;
  padding: 0.5rem;
}

.error_message {
  color: darkred;
}
