.main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  height: 5rem;
  background-color: #192231;
  color: white;
  margin: 50px 0 0 0;
}

.linklist li {
  list-style: none;
}

.main a {
  text-decoration: none;
  color: white;
}
